.container{
    margin: 0 auto;
    padding: 24px;
    gap:12px;
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid black;
    width: 50vw;
    height: 20vh;

}